/*页面头部顶部栏样式*/

/*设置公共样式*/
*{  
    padding: 0px;
    margin: 0px;
}
li{
    list-style: none;
}
    
/*设置页头导航栏样式*/
.site_topbar{
    background-color:#333;
    height:40px;
    margin: 0px auto;
}
a{
    list-style: none;
    line-height: 40px;
    color:#B0B0B0;
    text-decoration: none;
    font-size: 12px;
}
.a_left{
    margin-left: 40px;
}
.sp{
   color:#424242;
   font-size: 12px;
   margin: 0 0.5px;
   }
/*设置消息栏样式*/
.info_bar{
    float: left;
    position: absolute;
    top: 0px;
    right:220px;
}
/*设置购物车的样式*/
.shopping_car{
    background-color: #424242;
    width: 126px;
    height: 40px;
    line-height: 40px;
    float: right;
    position: absolute;
    top:0px;
    right: 70px;
   
}
#car_img{
    float: rignt;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right:80px;
}
.car_name{
    font-size: 12px;
    position: absolute;
    right:22px;
    top: 0px;
}
/*设置动态样式*/
a:hover{
    color: white;
}
.shopping_car:hover{
    background-color: white;
    color: tomato;
}
.car_name:hover{
    color: orange;
}