/*幻灯区样式*/

.menu_list{
    list-style: none;
    background-color: #b0b0b0;
    width: 210px;
    height: 460px;
    z-index: 10;
    position: absolute;
    left: 40px;
    top: 146px;
    color: seashell;
}

.list_addrees{
    width: 210px;
    position: absolute;
    top: 25px;
}

.list_align{
   
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.list_align:hover{
    background-color: rgb(255,100, 0);
}

.arrow{
    position: absolute;
    right: 20px;
    font-weight: bold;
}

#slide_img{
    width: 1170px;
    height: 460px;
    position: absolute;
    top: 146px;
    right: 70px;
}

