/*页面服务区样式*/

/*定位*/
.site_serving{
    position:absolute;
    top:620px;
    left:40px;
}
.site_serving2{
    position:absolute;
    top:0px;
    left:70px;
}
.site_serving3{
    position:absolute;
    top:0px;
    left:140px;
}
/*设置小图的背景*/
.small_pic{
    background-color: rgb(43, 37, 37);
    width: 70px;
    height: 85px;
}
/*设置所有小图的尺寸*/
.pic{
    width: 24px;
    height:24px;
}

/*设置pic1的位置*/
.pic1{
    position: absolute;
    top: 15px;
    left: 20px;
}
/*设置pic2的位置*/
.pic2{
    position: absolute;
    top: 100px;
    left: 20px;
}

/*设置small_font1的位置*/
.small_font1{
    position: absolute;
    top: 35px;
    left:10px;
}
/*设置small_font1的位置*/
.small_font2{
    position: absolute;
    top: 120px;
    left:10px;
}

.jpgs{
    position:absolute;
    top: 620px;
    right: 70px;
}
.jpg{
    width: 316px;
    height: 170px;
    margin: 0px ;
}
.jpg2{
    margin: 0px 4px;
}